includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - database
    tmpDir: build/phpstan
    configDirectories:
        - config
    checkOctaneCompatibility: true
    checkModelProperties: true
